vc100
vc110
vc120
vc140
vc141
vc142
.vs
**/bin/*
**/release/*
**/debug/*
**/*.dir
**/*.sdf
**/*.VC.db
**/ipch*
*.suo
msvc/src/applications/osgearth_viewer/application_osgearth_viewer.vcxproj.user
msvc/src/applications/osgearth_viewer/application_osgearth_viewer.vcxproj.user
msvc/src/applications/osgearth_viewer/application_osgearth_viewer.vcxproj.user
